html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    color: lightblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

header {
    justify-self: flex-start;
    background-color: black;
    padding: 1em 1em;
    margin: -1em 0 0 0;
    color: azure;
}

div {
    padding: 0;
}

.container {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-grow: 1;
}

.blog-post {
    background-color: navy;
    width: 50rem;
    padding: 1em;
}

.blog-post img {
    padding: 1em;
    height: auto;
    width: auto;
}

footer {
    justify-self: flex-end;
    background-color: black;
    color: white;
    padding: 1em;
}

a {
    color: aqua;
}