html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    justify-self: flex-start;
    background-color: greenyellow;
    padding: 1em 1em;
    margin: -1em 0 0 0;
}

div {
    padding: 0;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
}

.blog-post {
    background-color: lightseagreen;
    width: 50rem;
    padding: 1em;
}

footer {
    justify-self: flex-end;
    background-color: greenyellow;
    padding: 1em;

}