html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    background-color: azure;
    margin: 0 10em;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: greenyellow;
    padding: 1em 1em;
    margin: -1em 0 0 0;
}

div {
    padding: 0;
}

.container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.blog-post {
    background-color: lightseagreen;
    width: 50rem;
    padding: 1em;
}

footer {
    background-color: greenyellow;
    margin: 100% 0 0 0;
    padding: 1em;
}